html,
body {
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  font-family: sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 5;
}

nav {
  background-color: rgba(240, 240, 240, 0.95);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: black;
  min-height: 68px;
  height: 68px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.blocset {
  color: white;
  overflow-y: auto;
  touch-action: pan-y;
}

#footer {
  background-color: rgba(240, 240, 240, 0.95);
  border-top: 1px solid black;
  width: 100%;
  height: 48px;
  min-height: 48px;
}

#menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 260px;
  top: 68px;
  bottom: 48px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(240, 240, 240, 0.95);
  color: black;
  transform: translateX(-260px);
  transition: 0.6s;
  z-index: 10;
}

.form-control,
.custom-select,
.input-group-text,
.input-group-middle {
  border: 1px solid gainsboro;
  border-right: 0;
  border-left: 0;
  font-size: auto;
  color: #000;
}

.form-control,
.input-group-text,
.input-group-middle {
  padding-left: 1em;
  padding-right: 1em;
}

.bg-primary,
.bg-secondary,
.bg-success,
.bg-danger,
.bg-dark,
.bg-info {
  border: 0;
}

.input-ant {
  display: flex;
  justify-content: space-around;
  width: 123px !important;
}

.input-group-middle {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.input-post {
  display: flex;
  justify-content: space-around;
  width: 48px !important;
}

.show {
  transform: translateX(0px) !important;
  transition: all 1s ease-in-out;
}

.disapear {
  display: none !important;
}

#theme {
  text-decoration: none;
  border: 0px;
  width: 50%;
}

.theme-select {
  height: 42px !important;
}

.theme-icon {
  height: 40px !important;
  width: 40px !important;
}

/* Extra small devices (portrait phones, less than 576px) */

/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 200px) {
  .input-group-text,
  .input-group-middle,
  .form-control,
  .custom-select {
    height: 1.9em;
    padding: 0px 5px 0px 5px;
  }
  #titleAppShort {
    display: block;
  }
  #titleAppMedium {
    display: none;
  }
  #titleApp {
    display: none;
  }
  .btn-origin {
    display: none;
  }
  .btn-reduct {
    display: block;
  }
}

/* Medium devices (medium phone, 360px and up) */

@media (min-width: 360px) {
  .input-group-text,
  .input-group-middle,
  .form-control,
  .custom-select {
    height: 2.5em;
    padding: 0px 10px 0px 10px;
  }
  #titleAppShort {
    display: block;
  }
  #titleAppMedium {
    display: none;
  }
  #titleApp {
    display: none;
  }
  .btn-origin {
    display: none;
  }
  .btn-reduct {
    display: block;
  }
}

/* Medium devices (large phone, 375px and up) */

@media (min-width: 375px) {
  .form-control,
  .custom-select,
  .input-group-text,
  .input-group-middle {
    height: 2.7em;
  }
  #titleAppShort {
    display: none;
  }
  #titleAppMedium {
    display: block;
  }
  #titleApp {
    display: none;
  }
  .btn-origin {
    display: none;
  }
  .btn-reduct {
    display: block;
  }
}

/* Medium devices (tablets, 400px and up) */

@media (min-width: 400px) {
  .form-control,
  .custom-select,
  .input-group-text,
  .input-group-middle {
    height: 3em;
  }
  #titleAppShort {
    display: none;
  }
  #titleAppMedium {
    display: block;
  }
  #titleApp {
    display: none;
  }
  .btn-origin {
    display: none;
  }
  .btn-reduct {
    display: block;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .form-control,
  .custom-select,
  .input-group-text,
  .input-group-middle {
    height: 3.2em;
  }
  #titleAppShort {
    display: none;
  }
  #titleAppMedium {
    display: none;
  }
  #titleApp {
    display: block;
  }
  .btn-origin {
    display: block;
  }
  .btn-reduct {
    display: none;
  }
  .input-ant {
    width: 220px !important;
  }
  .input-post {
    width: 80px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .form-control,
  .custom-select,
  .input-group-text,
  .input-group-middle {
    height: 3.4em;
  }
  #titleAppShort {
    display: none;
  }
  #titleAppMedium {
    display: none;
  }
  #titleApp {
    display: block;
  }
  .btn-origin {
    display: block;
  }
  .btn-reduct {
    display: none;
  }
  .input-ant {
    width: 220px !important;
  }
  .input-post {
    width: 80px !important;
  }
}
